.popup {
    position: relative;
}

.active {
    background: var(--inverted-primary-color) !important;
}

.topRight {
    bottom: 100%;
    left: 0;
}

.topLeft {
    bottom: 100%;
    right: 0;
}

.bottomRight {
    top: 100%;
    left: 0;
}

.bottomLeft {
    top: 100%;
    right: 0;
}

.disabled {
    opacity: 0.6;
}

.trigger {
    background: none;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
