.readonly {
    opacity: 0.6;
}



.options {
    background: var(--listbox-bg);
    position: absolute;
    z-index: 11;
    border-radius: 12px;
    box-shadow: 4px 4px 8px var(--listbox-bg);
    min-width: 100%;
}

.option {
    padding: 10px 20px;
}
