.ArticleDetailsPage {
    min-height: 100%;
}

.commentTitle {
    margin-top: 20px;
}

.reccomendations {
    margin-top: 20px;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

