.ArticleDetailsPage {
    min-height: 100%;
}

.commentTitle {
    margin-top: 20px;
}

.reccomendations {
    margin-top: 20px;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

*::-webkit-scrollbar {
    width: 12px; /* ширина scrollbar */
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--card-bg); /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
    background-color: var(--inverted-primary-color); /* цвет плашки */
    border-radius: 20px; /* закругления плашки */
    border: 3px solid var(--primary-color); /* padding вокруг плашки */
}
